#back 
{background-color:#ECEFF1;}
.bg{
background-color: #00897B;}
.div0
{background-color:#00695C;width:100%;height:60px;}
.div1
{color:white;width:100%;height:90px;}
.i1
{color:#f2f2f2;margin-top:25px;}
.div2
{margin-top:25px;}
.div3
{text-align:center;color:white; letter-spacing:15px;}
.div4
{background-color:#80CBC4;}
.div5
{background-color:#CFD8DC}
.div6
{background-color:#08234f}
.span1
{font-family: monisapce;}
.o
{overflow:visible;}
.div7
{margin-left:12%;}
.cla
{background-color:black;}
.form1
{float:left;background-color:white;margin-top:1%;margin-left:1vw;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
     
    background-repeat: no-repeat;
    
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;}
.form1:focus {
    width: 100%;
}
.form2
{width:45%;float:left;background-color:white;height:65%;margin-top:1%;margin-left:10vw;}
.fonts
{padding:30px;margin-left:10%;}
.coll
{padding:10px}
.hd{
	font-family:'Suez One', serif;margin-left:10%;color:#E0F7FA ;
}
.light{
	font-weight: lighter;
}
.space{
	letter-spacing:1px;
}
.margin{
	 margin-top:20px;
}
.height{
	height:10%;
}
.footer{
	background-color: #00897B;
}
.fa {
  padding: 10px;
  font-size: 13px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  height:30px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #212121;
  color: white;
}

/*<script>
    $( document ).ready(function(){})
  </script>*/