
<!-- header  -->

<header>
  <div class="navbar-fixed bg">
    <nav class="bg height">
      <div class="nav-wrapper">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
        <h4 class="left hd space">NITK COOP </h4>
        <div  id="dis"> <i class="material-icons" id="icon1">search</i> </div>
        <ul class="right hide-on-med-and-down">
          <li class="coll"><a href="cart.html" class="btn waves-effect waves-teal left">CART<i class="material-icons">shopping_cart</i></a></li>
        </ul>
      </div>
    </nav>
    <form class="form1">
      <div class="input-field">
        <input id="search" type="search" placeholder="  &#x2315   Search.." onfocus="myfocus()" onblur="myblur()" required>
      </div>
    </form>

  </div>
</header>
<!-- ////header -->