#back 
{background-color:#ECEFF1;}
.bg{
background-color: #00897B;}
.div0
{background-color:#00695C;width:100%;height:60px;}
.div1
{color:white;width:100%;height:90px;}
.i1
{color:#f2f2f2;margin-top:25px;}
.div2
{margin-top:25px;}
.div3
{text-align:center;color:white; letter-spacing:15px;}
.div4
{background-color:#80CBC4;}
.div5
{background-color:#CFD8DC}
.div6
{background-color:#08234f}
.span1
{color:#81D4FA;font-family: monisapce;}
.o
{overflow:visible;}
.div7
{margin-left:12%;}
.cla
{background-color:black;}
.form1
{width:40vw;float:left;background-color:white;height:65%;margin-top:1%;margin-left:1vw; }
.form2
{width:45%;float:left;background-color:white;height:65%;margin-top:1%;margin-left:10vw;}
.fonts
{padding:30px; margin-left:10%;}
.coll
{padding:10px}
.hd{
	font-family:'Suez One', serif;margin-left:10%;color:#E0F7FA;
}
.light{
	font-weight: lighter;
}
.space{
	letter-spacing:1px;
}
.margin{
	 margin-top:20px;
}
.height{
	height:10%;
}

/*<script>
    $( document ).ready(function(){})
  </script>*/
